:root {
  --nyt-font-serif: "Cheltenham", georgia, "times new roman", serif;
  --nyt-font-sans: "Helvetica", "Arial", sans-serif;
  --nyt-border: #e2e2e2;
  --nyt-text-primary: #121212;
  --nyt-text-secondary: #666666;
  --nyt-accent: #326891;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: var(--nyt-text-primary);
  font-family: var(--nyt-font-serif);
}

a {
  text-decoration: none;
  color: inherit;
}